h1{
    /*color: red; */
    font-size: 75px;
}


img:hover{
    background-color: yellow;
}

.bacon {
    background-color: green;
}

.broccoli{
    background-color: red;
    height: 160px;
    width: 160px;
}

.circular{
    border-radius: 50%;
}


#heading{
    color:blue;
}