body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

h1{
    font-size: 462.5%;
    margin-top: 50px;  
    color: #66BFBF;
    line-height: 2;

}

h2{
    color: #66BFBF;
    font-weight: normal;
}

body{
    margin: 0px;
}

.Top_container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.Middle_container{
    
    background-color: red;
    margin-top: 50px;
}

.Bottom_container{
    margin-top: 50px;

}

.top_cloud{
    position:absolute;
    top:50px;
    right:300px;
}

.bottom_cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}